.header {
  gap: 20px;
  flex: 1;
}

.header__heading {
  font-size: 50px;
  color: var(--yellow-accent-color);
  text-shadow: var(--shadow);
}

.header__span {
  text-shadow: none;
}

.header__paragraph {
  font-size: 30px;
  color: var(--text-color);
}
