.main {
  width: 100%;
  flex: 4;
  gap: 20px;
}

.main__pads {
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: auto;
}

.main__pads > div {
  flex: 1;
  transition-duration: 0.5s;
  cursor: pointer;
  transform-origin: bottom;
}

.main__pads > div:hover {
  transform: scaleY(1.5);
}

.main__pad0 {
  background-color: var(--pad0-bg-color);
}

.main__pad1 {
  background-color: var(--pad1-bg-color);
}

.main__pad2 {
  background-color: var(--pad2-bg-color);
}

.main__pad3 {
  background-color: var(--pad3-bg-color);
}

.main__pad4 {
  background-color: var(--pad4-bg-color);
}

.main__pad5 {
  background-color: var(--pad5-bg-color);
}
