.wip__div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 20%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  background-color: var(--dark-accent-color);
  z-index: 1;
}

.wip__paragraph {
  font-size: 30px;
  color: var(--text-color);
  margin: 0 auto;
}

.wip__button {
  align-self: flex-start;
  font-size: 20px;
  padding: 10px 17px;
}
