.links__container {
  width: 40%;
  height: 50px;
  padding: 5px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--dark-accent-color);
  box-shadow: var(--shadow);
}

.footer__author-link {
  font-size: 23px;
  color: var(--text-color);
}

.footer__author-link__img {
  height: 30px;
}
