.music-controls {
  width: 100%;
  padding: 10px;
  gap: 20px;
  background-color: var(--dark-accent-color);
  border-radius: 20px;
}

.music-player__controls__button,
.music-player__add__button {
  width: 40px;
  height: 40px;
  padding: 5px;
  box-shadow: none;
  font-size: 20px;
}

.music-player__paragraph {
  color: var(--text-color);
  font-size: 20px;
  margin-right: auto;
}

.music-player__add__button {
  border-radius: 20px;
  width: 90px;
}
